<!--  ./views/index.handlebars -->
<div class="container py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">URL Shortener <i class="fas fa-link"></i></h5>
          <hr>
          <form method="POST" action="/">

            <div class="form-group form-row my-5">
              <label for="url-shortener">Enter a URL</label>
              <input type="url" name="url" class="form-control mt-2" id="url-shortener" required value={{url.link}}>
            </div>

            {{#if url}}
            <div class="alert alert-success" role="alert">
              Link shortening successful ! Visit your website at <a href={{url.link}}
                class="alert-link">https://lit-spire-90442.herokuapp.com/{{url.shortenLink}}</a>
            </div>
            {{/if}}
            {{#if invalidUrl}}
            <div class="alert alert-danger" role="alert">
              輸入短網無效！
            </div>
            {{/if}}

            <div class="text-center">
              <button class="btn btn-outline-primary px-5" type="submit">Shorten!</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>